/*=====================================
        DEFAULT VALUES
        Font family: Roboto Condensed
        Black Bean : #3C0000 (Buttons,Icons,Links & background)
        Steel Grey: #41464b (Heading)
        Blue Beyoux : #64707b (Paragraph)
        Unbleached Silk : #F5D0C5 (Text with black background)
        Rich Black Fogra 39 : #050609 
=======================================*/

/* General CSS */

html,
body {
    height: 100%
}

body {
    font-family: "Roboto Condensed", sans-serif
}

p {

    color: #64707b;
    font-size: 15px;
    font-weight: 300;
}

h3 {
    text-transform: uppercase;
    color: #41464b;
}

/*=====================================
                HOME
======================================*/

#home {
    height: 100%
}

#home-cover {
    height: 100%;
    background-image: url("../img/work/bg-home.jpg");

}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /*text-align: center;*/

}

#home-heading h3 {
    color: #3C0000;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

/*=====================================
                PARALLAX (Generic)
======================================*/
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*=====================================
            BUTTON (Generic)
=====================================*/

.btn-general {

    border-width: 2px;
    border-radius: 2;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
btn-white:focus {
    background-color: #fff;
    color: #3C0000;
}

.btn-brown {
    border-color: #3C0000;
    color: #3C0000;
}

.btn-brown:hover,
btn-brown:focus {
    background-color: #3C0000;
    color: #fff;
}

/*=====================================
            ANIMATE 
=====================================*/

#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: 1s;
}

/*=====================================
            CONTENT (Generic)
=====================================*/

.content-box {
    padding: 60px 0 60px 0;

}

.content-title h3 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #3C0000;
    margin: 0 auto 0 auto;

}

/*=====================================
            SERVICES
=====================================*/

.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #3C0000;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #3C0000;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}

/*=====================================
                ABOUT
=====================================*/

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/roohi.jpg);
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;

}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc p {
    margin-bottom: 30px;
}

/*=====================================
               WORK
=====================================*/

.row.no-gutter [class*=col-] {
    padding-left: 100px;
    padding-right: 0;
}


.img-wrapper {
    overflow: hidden;
}

.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17.6%;
    margin-top: 20px;
}

.img-wrapper img {
    transition: transform .5s ease;
    height: 300px;
    width: 300px;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

/*=====================================
               BELIEF
=====================================*/

#belief-cover {
    background-image: url("../img/bg-belief.jpg");
    margin-top: 50px;
}

#belief .content-box {
    background-color: rgba(0, 0, 0, 0.8);
}

.belief-item {
    padding: 100px 0;
}

.belief-item i {
    color: #fff;
}

.belief-item h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 1px;
}

/*=====================================
             SKILLS
=====================================*/

.skills-item {
    text-decoration: none;
}

.skills-item > ul > li {
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #050609;
    text-align: center;

}

.skills-item h3 {
    color: #050609;
}

/*=====================================
                NAVIGATION
=====================================*/

.education-item {
    margin-top: 30px;
    text-decoration: none;
    padding-right: 20px;
    margin-right: 50px;
    margin-left: 0;
}

.education-item > img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 200px;
}

.education-item > p {
    text-align: justify;
}


/*=====================================
            SOCIAL
=====================================*/

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-white i {
    color: #fff;
}

.social-icon i:hover {
    color: #34c6d3;
}

/*=====================================
             CONTACT
=====================================*/

footer {
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3,
#contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

#contact-info {
    background-image: url("../img/world-map.png");
    background-repeat: no-repeat;
    background-size: contain;
}

address {
    color: #fff;
}

address strong,
#contact-info strong {
    letter-spacing: 1px;

}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}

/*=====================================
               FOOTER
=====================================*/

#footer-bottom {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    margin-top: 60px;
}

#footer-copyrights p {
    margin: 0;
    color: #fff;
}

#footer-menu {
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
}

/*=====================================
                NAVIGATION
=====================================*/

.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
}

.pot-top-nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 7px 0;
}

.nav-wrapper {
    padding: 0 85px;
}

.navbar-nav {
    float: right;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background: none;
    color: #34c6d3;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

.pot-top-nav ul.navbar-nav > li.active > a {
    color: #34c6d3;
}

.navbar-brand {
    color: #fff;
}
